.search {
    height: 25px;
    width: 40%;
    min-width: 180px;
    margin-left: 7%;
    margin-bottom: 5px;
    float: left;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.search:hover {
    border: 2px solid black;
}

.search-icon {
    position: absolute;
    bottom: 8px;
    left: 16px;
    height: 30px;
    width: 30px;
    background-color: green;
}