.attributes-view-1 {
    width: 48.5%;
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    display: inline-block;
}

.attributes-view-2 {
    width: 48.5%;
    margin-right: 0;
    display: inline-block;
}

.attributes-container {
    display: flex;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}


.Social-Chart-Container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.leaders-view {
    height: 200px;
    align-content: center;
    display: inline-block;
    display: flex;
    flex: 1;
    margin: 10px;
    overflow-x: auto;
}

.leaders-title-lbl {
    text-align: left;
    margin: 10px;
}