.Automation__body {
    position: relative;
    left: 280px;
    bottom: 2px;
    display: block;
}
.Automation__StockHeader {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: lightgrey;
    color: rgb(49, 48, 48);
    font-weight: 700;
    width: 40vw;
}
.Automation__header {
    display: flex;
    padding: 50px 25px;
    font-weight: 900;
    font-size: larger;
    max-width: 300px;
    justify-content: space-between;
}
.Automation__details {
    display: flex;
}
.Automation__portfolioDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Automation__settings {
    font-weight: 600;
    padding: 0px 40px;
}
.Automation__settings p {
    font-weight: 300;
}
.Automation__allocation {
    display: block;
    padding: 30px 0px;
    height: 75px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Automation__strategy {
    text-align: left;
}
/* .Automation__settings {
} */