.Nav__body {
    padding: 0px;
    position: absolute;
    width: 250px;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right, #29303F, #0B0D11); 
    color: white;
    min-height: 100vh;
}
.Nav__logo {
    width: 100px;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

.Nav__logoWrapper {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 150px;

}
.fixed-nav{
    color: white;
}